/* line 5, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'TimesNewRoman';
  src: url("../resources/TimesNewRoman/Regular/TimesNewRomanPSMT.woff") format("woff"), url("../resources/TimesNewRoman/Regular/TimesNewRomanPSMT.ttf") format("truetype"), url("../resources/TimesNewRoman/Regular/TimesNewRomanPSMT.svg#TimesNewRomanPSMT") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TimesNewRoman';
  src: url("../resources/TimesNewRoman/Regular/times.eot");
  src: url("../resources/TimesNewRoman/Regular/times.woff2") format("woff2"), url("../resources/TimesNewRoman/Regular/times.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TimesNewRoman';
  src: url("../resources/TimesNewRoman/Bold/TimesNewRomanPS-BoldMT.woff") format("woff"), url("../resources/TimesNewRoman/Bold/TimesNewRomanPS-BoldMT.ttf") format("truetype"), url("../resources/TimesNewRoman/Bold/TimesNewRomanPS-BoldMT.svg#TimesNewRomanPS-BoldMT") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'TimesNewRoman';
  src: url("../resources/TimesNewRoman/Bold/timesbd.eot");
  src: url("../resources/TimesNewRoman/Bold/timesbd.woff2") format("woff2"), url("../resources/TimesNewRoman/Bold/timesbd.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url("../resources/Arial/Italic/Arial-ItalicMT.woff") format("woff"), url("../resources/Arial/Italic/Arial-ItalicMT.ttf") format("truetype"), url("../resources/Arial/Italic/Arial-ItalicMT.svg#Arial-ItalicMT") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url("../resources/Arial/Italic/ariali.eot");
  src: url("../resources/Arial/Italic/ariali.woff2") format("woff2"), url("../resources/Arial/Italic/ariali.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url("../resources/Arial/BoldItalic/Arial-BoldItalicMT.woff") format("woff"), url("../resources/Arial/BoldItalic/Arial-BoldItalicMT.ttf") format("truetype"), url("../resources/Arial/BoldItalic/Arial-BoldItalicMT.svg#Arial-BoldItalicMT") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url("../resources/Arial/BoldItalic/arialbi.eot");
  src: url("../resources/Arial/BoldItalic/arialbi.woff2") format("woff2"), url("../resources/Arial/BoldItalic/arialbi.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url("../resources/Arial/Bold/Arial-BoldMT.woff") format("woff"), url("../resources/Arial/Bold/Arial-BoldMT.ttf") format("truetype"), url("../resources/Arial/Bold/Arial-BoldMT.svg#Arial-BoldMT") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url("../resources/Arial/Bold/arialbd.eot");
  src: url("../resources/Arial/Bold/arialbd.woff2") format("woff2"), url("../resources/Arial/Bold/arialbd.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url("../resources/Arial/Regular/ArialMT.woff") format("woff"), url("../resources/Arial/Regular/ArialMT.ttf") format("truetype"), url("../resources/Arial/Regular/ArialMT.svg#ArialMT") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url("../resources/Arial/Regular/arial.eot");
  src: url("../resources/Arial/Regular/arial.woff2") format("woff2"), url("../resources/Arial/Regular/arial.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Verdana';
  src: url("../resources/Verdana/Verdana.woff") format("woff"), url("../resources/Verdana/Verdana.ttf") format("truetype"), url("../resources/Verdana/Verdana.svg#Verdana") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Verdana';
  src: url("../resources/Verdana/verdana.eot");
  src: url("../resources/Verdana/verdana.woff2") format("woff2"), url("../resources/Verdana/verdana.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url("../resources/HelveticaNeueLTPro/HelveticaNeueLTPro-ThEx.eot");
  src: url("../resources/HelveticaNeueLTPro/HelveticaNeueLTPro-ThEx.woff2") format("woff2"), url("../resources/HelveticaNeueLTPro/HelveticaNeueLTPro-ThEx.woff") format("woff"), url("../resources/HelveticaNeueLTPro/HelveticaNeueLTPro-ThEx.ttf") format("truetype"), url("../resources/HelveticaNeueLTPro/HelveticaNeueLTPro-ThEx.svg#HelveticaNeueLTPro-ThEx") format("svg"), url("../resources/HelveticaNeueLTPro/HelveticaNeueLTPro-ThEx.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
/*GENERAL STYLES*/
/* line 140, ../sass/main-styles.scss */
body {
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  background: #fff;
}

/* line 147, ../sass/main-styles.scss */
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

/* line 152, ../sass/main-styles.scss */
a {
  text-decoration: none;
}

/* line 155, ../sass/main-styles.scss */
strong {
  font-weight: bold;
}

/*-------------------*/
/*mixins*/
/*-------------------*/
/*variables*/
/*-------------------*/
/* line 190, ../sass/main-styles.scss */
.site-content {
  background-image: url(../images/texture.jpg);
  background-repeat: repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

/* line 197, ../sass/main-styles.scss */
.container {
  margin: 10px auto 0;
  padding-top: 15px;
  box-shadow: 0 0 21px rgba(73, 29, 0, 0.37);
  background-color: #f6efd8;
}

/* line 203, ../sass/main-styles.scss */
.left-block-content {
  float: left;
  width: 235px;
  clear: left;
}
/* line 210, ../sass/main-styles.scss */
.left-block-content .product-catalog .title {
  width: 100%;
  padding-left: 10px;
  color: #f0dbb5;
  font: 400 16px/23px "TimesNewRoman", sans-serif;
  text-transform: uppercase;
  background-image: linear-gradient(to top, #a20e0d 0%, #790e0d 45%, #d80e0c 100%);
  border: 4px solid #91070a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 214, ../sass/main-styles.scss */
.left-block-content .product-catalog .product-list {
  width: 100%;
  padding: 10px 0 65px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 219, ../sass/main-styles.scss */
.left-block-content .product-catalog .product-list li {
  display: block;
  width: 100%;
}
/* line 223, ../sass/main-styles.scss */
.left-block-content .product-catalog .product-list li a {
  display: block;
  width: 100%;
  padding-left: 10px;
  font: 400 12px/22px "Arial", sans-serif;
  color: #000000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 232, ../sass/main-styles.scss */
.left-block-content .product-catalog .product-list li a:hover {
  color: #b10e0d;
  background-color: #dfc79c;
}
/* line 237, ../sass/main-styles.scss */
.left-block-content .product-catalog .product-list li a.active {
  color: #b10e0d;
  background-color: #dfc79c;
}
/* line 246, ../sass/main-styles.scss */
.left-block-content .master-class .title {
  width: 100%;
  padding-left: 10px;
  color: #f0dbb5;
  font: 400 16px/23px "TimesNewRoman", sans-serif;
  text-transform: uppercase;
  background-image: linear-gradient(to top, #a20e0d 0%, #790e0d 45%, #d80e0c 100%);
  border: 4px solid #91070a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 250, ../sass/main-styles.scss */
.left-block-content .master-class .post-title {
  margin: 20px auto 10px;
  padding-left: 10px;
  color: #ab0e0d;
  font: 700 15px/19px "Arial", sans-serif;
}
/* line 257, ../sass/main-styles.scss */
.left-block-content .master-class .img-wrapper {
  width: 197px;
  height: 148px;
  margin: 0;
  padding-left: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: transparent;
}
/* line 266, ../sass/main-styles.scss */
.left-block-content .master-class .img-wrapper img {
  max-width: 100%;
  height: auto;
}
/* line 272, ../sass/main-styles.scss */
.left-block-content .master-class .post-description {
  width: 175px;
  margin: 10px 0 15px;
  padding-left: 10px;
}
/* line 277, ../sass/main-styles.scss */
.left-block-content .master-class .post-description p {
  color: #000000;
  font: 400 12px/20px "Arial", sans-serif;
}
/* line 282, ../sass/main-styles.scss */
.left-block-content .master-class .all-masters-work-btn {
  display: block;
  margin: 0 0 0 95px;
  color: #000000;
  font: 400 12px/14px "Arial", sans-serif;
  font-style: italic;
  text-decoration: underline;
}

/* line 292, ../sass/main-styles.scss */
.main-content {
  overflow: hidden;
}
/* line 294, ../sass/main-styles.scss */
.main-content header {
  padding: 0 15px 0 0;
}
/* line 298, ../sass/main-styles.scss */
.main-content header .search-logo-block {
  float: left;
  width: 235px;
  background-image: linear-gradient(to top, #eadab6 0%, #f4efd8 100%);
  overflow: hidden;
  padding-bottom: 5px;
}
/* line 306, ../sass/main-styles.scss */
.main-content header .search-logo-block .logo-container .logo-sign {
  margin: 0 auto 5px;
  text-align: center;
  color: #000000;
  font: 400 13px/17px "TimesNewRoman", sans-serif;
}
/* line 313, ../sass/main-styles.scss */
.main-content header .search-logo-block .logo-container .logo {
  margin: 0 auto;
  text-align: center;
  width: 227px;
  height: 28px;
  overflow: hidden;
}
/* line 320, ../sass/main-styles.scss */
.main-content header .search-logo-block .logo-container .logo img {
  max-width: 100%;
  height: auto;
}
/* line 326, ../sass/main-styles.scss */
.main-content header .search-logo-block .img-container {
  width: 165px;
  height: 210px;
  margin: 0 auto 10px;
  text-align: center;
  overflow: hidden;
}
/* line 333, ../sass/main-styles.scss */
.main-content header .search-logo-block .img-container img {
  max-width: 100%;
  height: auto;
}
/* line 340, ../sass/main-styles.scss */
.main-content header .search-logo-block .search-form #search-field {
  float: left;
  max-width: 199px;
  width: 100%;
  height: 28px;
  padding-left: 10px;
  color: #7d7d7d;
  font: 400 16px/22px "Verdana", sans-serif;
  border: 1px solid #772a00;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 352, ../sass/main-styles.scss */
.main-content header .search-logo-block .search-form #search-button {
  float: left;
  display: block;
  width: 36px;
  height: 28px;
  border: 1px solid #772a00;
  border-left: 0;
  background-color: #ffffff;
  cursor: pointer;
  background-image: url("../images/search-icon.png");
  background-size: inherit;
  background-position: center;
  background-repeat: no-repeat;
  @includee border-box;
}
/* line 371, ../sass/main-styles.scss */
.main-content .nav-content {
  padding-left: 18px;
  overflow: hidden;
}
/* line 375, ../sass/main-styles.scss */
.main-content .nav-content .basket-content {
  float: right;
  width: 95px;
}
/* line 379, ../sass/main-styles.scss */
.main-content .nav-content .basket-content p {
  margin: 0 auto 5px;
  text-align: center;
  color: #000000;
  font: 400 10px/14px "Arial", sans-serif;
}
/* line 386, ../sass/main-styles.scss */
.main-content .nav-content .basket-content .img-wrapper {
  width: 42px;
  height: 39px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
/* line 393, ../sass/main-styles.scss */
.main-content .nav-content .basket-content .img-wrapper img {
  max-width: 100%;
  height: auto;
}
/* line 400, ../sass/main-styles.scss */
.main-content .nav-content .phone-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 403, ../sass/main-styles.scss */
.main-content .nav-content .phone-list li {
  display: inline-block;
  margin-right: 15px;
}
/* line 407, ../sass/main-styles.scss */
.main-content .nav-content .phone-list li:last-child {
  margin-right: 0;
}
/* line 411, ../sass/main-styles.scss */
.main-content .nav-content .phone-list li a {
  color: #000000;
  font: 400 15px/18px "TimesNewRoman", sans-serif;
}
/* line 418, ../sass/main-styles.scss */
.main-content .nav-content .main-menu {
  float: left;
  overflow: hidden;
  margin: 5px 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 424, ../sass/main-styles.scss */
.main-content .nav-content .main-menu li {
  float: left;
  overflow: hidden;
  border: 1px solid #97191b;
  border-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 431, ../sass/main-styles.scss */
.main-content .nav-content .main-menu li:last-child {
  border-right: 1px solid #97191b;
}
/* line 436, ../sass/main-styles.scss */
.main-content .nav-content .main-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px 10px;
  margin: 0 auto;
  text-align: center;
  color: #71383e;
  font: 700 9px/13px "TimesNewRoman", sans-serif;
  text-transform: uppercase;
  background-image: linear-gradient(to top, #d1a36f 0%, #e8d19d 45%, #f8f1bd 100%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 453, ../sass/main-styles.scss */
.main-content .nav-content .lenguage-block {
  float: left;
  margin-left: 5px;
}
/* line 457, ../sass/main-styles.scss */
.main-content .nav-content .lenguage-block a {
  float: left;
  display: block;
  width: 25px;
  height: 17px;
  margin: 19px 5px 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 465, ../sass/main-styles.scss */
.main-content .nav-content .lenguage-block a:hover {
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.42);
}
/* line 470, ../sass/main-styles.scss */
.main-content .nav-content .lenguage-block img {
  max-width: 100%;
  height: auto;
}
/* line 477, ../sass/main-styles.scss */
.main-content .fade {
  float: right;
  width: 732px;
  height: 277px;
  margin-bottom: 0;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.64);
  background-color: #ffffff;
}
/* line 485, ../sass/main-styles.scss */
.main-content .fade .slick-dots {
  bottom: 10px;
  right: 45px;
  width: auto;
}
/* line 490, ../sass/main-styles.scss */
.main-content .fade .slick-dots li {
  width: 11px;
  height: 11px;
  margin: 0 5px;
}
/* line 497, ../sass/main-styles.scss */
.main-content .fade .slick-dots li button {
  width: 11px;
  height: 11px;
  margin: 0 5px;
  border: 1px solid #91070a;
  background-color: #f6edb8;
  border-radius: 50%;
}
/* line 505, ../sass/main-styles.scss */
.main-content .fade .slick-dots li button:before {
  content: none;
}
/* line 511, ../sass/main-styles.scss */
.main-content .fade .slick-dots li.slick-active button {
  background-color: #790e0d;
}

/* line 519, ../sass/main-styles.scss */
.right-sidebar {
  float: right;
  width: 225px;
  background-color: #f0dbb5;
}
/* line 524, ../sass/main-styles.scss */
.right-sidebar .posts-list {
  padding: 20px 15px 0;
}
/* line 527, ../sass/main-styles.scss */
.right-sidebar .posts-list li {
  display: block;
  margin: 0 0 20px 0;
}
/* line 531, ../sass/main-styles.scss */
.right-sidebar .posts-list li .post-title {
  color: #ab0e0d;
  font: 700 12px/17px "Arial", sans-serif;
  text-transform: uppercase;
}
/* line 536, ../sass/main-styles.scss */
.right-sidebar .posts-list li .date {
  display: block;
  margin: 5px 0;
  color: #000000;
  font: 400 12px/15px "Arial", sans-serif;
  font-style: italic;
}
/* line 544, ../sass/main-styles.scss */
.right-sidebar .posts-list li p {
  color: #000000;
  font: 400 12px/15px "Arial", sans-serif;
}
/* line 548, ../sass/main-styles.scss */
.right-sidebar .posts-list li p span {
  text-transform: uppercase;
}
/* line 555, ../sass/main-styles.scss */
.right-sidebar .stocks-block > .title {
  width: 100%;
  padding-left: 10px;
  color: #f0dbb5;
  font: 400 16px/23px "TimesNewRoman", sans-serif;
  text-transform: uppercase;
  background-image: linear-gradient(to top, #a20e0d 0%, #790e0d 45%, #d80e0c 100%);
  border: 4px solid #91070a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 559, ../sass/main-styles.scss */
.right-sidebar .stocks-block .stocks-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 562, ../sass/main-styles.scss */
.right-sidebar .stocks-block .stocks-list li {
  position: relative;
  margin: 5px 0;
  padding: 15px 15px 20px;
  background-color: #f0dbb5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 570, ../sass/main-styles.scss */
.right-sidebar .stocks-block .stocks-list li:first-child:after {
  position: absolute;
  bottom: 0;
  right: 10px;
  content: "";
  width: 184px;
  height: 1px;
  background-color: #d6ad7a;
}
/* line 581, ../sass/main-styles.scss */
.right-sidebar .stocks-block .stocks-list li p {
  color: #ab0e0d;
  font: 700 12px/16px "Arial", sans-serif;
}
/* line 586, ../sass/main-styles.scss */
.right-sidebar .stocks-block .stocks-list li .img-wrapper {
  width: 197px;
  height: 148px;
  margin: 7px auto 25px;
  overflow: hidden;
  border-radius: 10px;
}
/* line 593, ../sass/main-styles.scss */
.right-sidebar .stocks-block .stocks-list li .img-wrapper img {
  max-width: 100%;
  height: auto;
}
/* line 600, ../sass/main-styles.scss */
.right-sidebar .stocks-block .stocks-list li .mark-and-code p {
  color: #000000;
  font: 400 12px/16px "Arial", sans-serif;
}
/* line 604, ../sass/main-styles.scss */
.right-sidebar .stocks-block .stocks-list li .mark-and-code p .title {
  float: left;
  min-width: 100px;
}
/* line 609, ../sass/main-styles.scss */
.right-sidebar .stocks-block .stocks-list li .mark-and-code p .description {
  display: block;
  width: 75px;
  overflow: hidden;
  font-weight: bold;
}
/* line 615, ../sass/main-styles.scss */
.right-sidebar .stocks-block .stocks-list li .mark-and-code p .description span {
  text-transform: uppercase;
}
/* line 622, ../sass/main-styles.scss */
.right-sidebar .stocks-block .stocks-list li .price-adn-buy {
  overflow: hidden;
}
/* line 625, ../sass/main-styles.scss */
.right-sidebar .stocks-block .stocks-list li .price-adn-buy p {
  float: left;
  overflow: hidden;
  margin: 5px 0 0;
  color: #000000;
  font: 400 12px/16px "Arial", sans-serif;
}
/* line 632, ../sass/main-styles.scss */
.right-sidebar .stocks-block .stocks-list li .price-adn-buy p .title {
  float: left;
  margin: 16px 5px 0 0;
}
/* line 637, ../sass/main-styles.scss */
.right-sidebar .stocks-block .stocks-list li .price-adn-buy p .description {
  float: left;
}
/* line 639, ../sass/main-styles.scss */
.right-sidebar .stocks-block .stocks-list li .price-adn-buy p .description * {
  display: block;
}
/* line 643, ../sass/main-styles.scss */
.right-sidebar .stocks-block .stocks-list li .price-adn-buy p .description strong {
  text-decoration: line-through;
}
/* line 647, ../sass/main-styles.scss */
.right-sidebar .stocks-block .stocks-list li .price-adn-buy p .description .stocks-price {
  color: #cd0e0d;
  font-weight: 700;
}
/* line 654, ../sass/main-styles.scss */
.right-sidebar .stocks-block .stocks-list li .price-adn-buy .buy-btn {
  float: right;
  display: block;
  width: 72px;
  height: 28px;
  margin-top: 15px;
  color: #ab0e0d;
  text-align: center;
  font: 700 12px/28px "Arial", sans-serif;
  border: 1px solid #cc9a67;
  background-image: linear-gradient(to top, #d1a36f 0%, #e8d19d 45%, #f8f1bd 100%);
}

/* line 672, ../sass/main-styles.scss */
.center-block {
  width: 54%;
  overflow: hidden;
}
/* line 676, ../sass/main-styles.scss */
.center-block .text-block {
  margin-top: 20px;
  padding: 0 15px 0 20px;
}
/* line 679, ../sass/main-styles.scss */
.center-block .text-block p {
  color: #000000;
  text-indent: 1.5em;
  font: 400 13px/16px "Arial", sans-serif;
}
/* line 684, ../sass/main-styles.scss */
.center-block .text-block p strong {
  font-weight: bold;
}
/* line 688, ../sass/main-styles.scss */
.center-block .text-block .center-text {
  display: block;
  margin: 44px auto 40px;
  text-align: center;
  color: #000000;
  font: 400 13px/16px "Arial", sans-serif;
}
/* line 696, ../sass/main-styles.scss */
.center-block .text-block .wishes {
  margin: 0 auto 50px;
  text-align: center;
  color: #ab0e0d;
  font: 700 18px/22px "Arial", sans-serif;
  font-style: italic;
}

/* line 706, ../sass/main-styles.scss */
.new-arrivals-block {
  width: 99%;
  background-color: #ffffff;
}
/* line 710, ../sass/main-styles.scss */
.new-arrivals-block .arrivals-title {
  margin: 6px 0 0 15px;
  color: #000000;
  font: 700 15px/20px "Arial", sans-serif;
}
/* line 716, ../sass/main-styles.scss */
.new-arrivals-block .arrivals-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
/* line 728, ../sass/main-styles.scss */
.new-arrivals-block .arrivals-list li {
  max-width: 247px;
  max-height: 310px;
  margin: 10px;
  padding: 15px 15px 10px;
  background-color: #f0dbb5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 736, ../sass/main-styles.scss */
.new-arrivals-block .arrivals-list li p {
  color: #ab0e0d;
  font: 700 12px/16px "Arial", sans-serif;
}
/* line 741, ../sass/main-styles.scss */
.new-arrivals-block .arrivals-list li .img-wrapper {
  width: 197px;
  height: 148px;
  margin: 7px auto;
  overflow: hidden;
  border-radius: 10px;
}
/* line 748, ../sass/main-styles.scss */
.new-arrivals-block .arrivals-list li .img-wrapper img {
  max-width: 100%;
  height: auto;
}
/* line 755, ../sass/main-styles.scss */
.new-arrivals-block .arrivals-list li .mark-and-code p {
  color: #000000;
  font: 400 12px/16px "Arial", sans-serif;
}
/* line 759, ../sass/main-styles.scss */
.new-arrivals-block .arrivals-list li .mark-and-code p .title {
  float: left;
  min-width: 100px;
}
/* line 764, ../sass/main-styles.scss */
.new-arrivals-block .arrivals-list li .mark-and-code p .description {
  display: block;
  width: 75px;
  overflow: hidden;
  font-weight: bold;
}
/* line 770, ../sass/main-styles.scss */
.new-arrivals-block .arrivals-list li .mark-and-code p .description span {
  text-transform: uppercase;
}
/* line 777, ../sass/main-styles.scss */
.new-arrivals-block .arrivals-list li .price-adn-buy {
  overflow: hidden;
  margin-top: 10px;
}
/* line 781, ../sass/main-styles.scss */
.new-arrivals-block .arrivals-list li .price-adn-buy p {
  float: left;
  margin: 5px 0 0;
  color: #000000;
  font: 400 12px/16px "Arial", sans-serif;
}
/* line 788, ../sass/main-styles.scss */
.new-arrivals-block .arrivals-list li .price-adn-buy .buy-btn {
  float: right;
  display: block;
  width: 72px;
  height: 28px;
  color: #ab0e0d;
  text-align: center;
  font: 700 12px/28px "Arial", sans-serif;
  border: 1px solid #cc9a67;
  background-image: linear-gradient(to top, #d1a36f 0%, #e8d19d 45%, #f8f1bd 100%);
}

/* line 804, ../sass/main-styles.scss */
.animate-wrapper {
  position: relative;
  width: 534px;
  height: 142px;
  overflow: hidden;
}
/* line 810, ../sass/main-styles.scss */
.animate-wrapper .animate-img {
  width: 100%;
  height: 142px;
  display: none;
}

/* line 817, ../sass/main-styles.scss */
.preffoter {
  margin: 10px auto 0;
  padding-top: 20px;
  overflow: hidden;
  background-color: #f0dbb5;
}
/* line 824, ../sass/main-styles.scss */
.preffoter .footer-navigation .site-link {
  float: left;
  margin-left: 60px;
  color: #690000;
  font: 400 14px/19px "Arial", sans-serif;
}
/* line 830, ../sass/main-styles.scss */
.preffoter .footer-navigation .site-link:hover {
  text-decoration: underline;
}
/* line 835, ../sass/main-styles.scss */
.preffoter .footer-navigation .footer-menu {
  float: right;
  margin-right: 15px;
}
/* line 839, ../sass/main-styles.scss */
.preffoter .footer-navigation .footer-menu li {
  display: inline-block;
}
/* line 842, ../sass/main-styles.scss */
.preffoter .footer-navigation .footer-menu li a {
  position: relative;
  display: block;
  padding: 0 15px 0 10px;
  color: #690000;
  font: 400 12px/16px "Arial", sans-serif;
}
/* line 849, ../sass/main-styles.scss */
.preffoter .footer-navigation .footer-menu li a span {
  text-transform: uppercase;
}
/* line 853, ../sass/main-styles.scss */
.preffoter .footer-navigation .footer-menu li a:hover {
  text-decoration: underline;
}
/* line 857, ../sass/main-styles.scss */
.preffoter .footer-navigation .footer-menu li a:after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 1px;
  height: 100%;
  background-color: #690000;
}
/* line 869, ../sass/main-styles.scss */
.preffoter .footer-navigation .footer-menu li:last-child a {
  padding-right: 0;
}
/* line 871, ../sass/main-styles.scss */
.preffoter .footer-navigation .footer-menu li:last-child a:after {
  content: none;
}
/* line 880, ../sass/main-styles.scss */
.preffoter .social-icons {
  float: left;
  clear: both;
  margin: 20px 0 10px 60px;
}
/* line 885, ../sass/main-styles.scss */
.preffoter .social-icons li {
  display: inline-block;
  margin: 0 3px;
}
/* line 889, ../sass/main-styles.scss */
.preffoter .social-icons li:first-child {
  margin-left: 0;
}
/* line 893, ../sass/main-styles.scss */
.preffoter .social-icons li a {
  display: block;
  width: 28px;
  height: 29px;
  border-radius: 2px;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 901, ../sass/main-styles.scss */
.preffoter .social-icons li a:hover {
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.42);
}
/* line 905, ../sass/main-styles.scss */
.preffoter .social-icons li a img {
  max-width: 100%;
  height: auto;
}

/* line 914, ../sass/main-styles.scss */
footer .copyright {
  clear: both;
  margin: 0 auto;
  padding: 1px 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #690000;
}
/* line 921, ../sass/main-styles.scss */
footer .copyright .copyright-sign {
  margin: 0 auto;
  color: #e4cda4;
  font: 400 11px/22px "Arial", sans-serif;
}
/* line 926, ../sass/main-styles.scss */
footer .copyright .copyright-sign a {
  color: #e4cda4;
}
/* line 929, ../sass/main-styles.scss */
footer .copyright .copyright-sign a:hover {
  text-decoration: underline;
}
/* line 933, ../sass/main-styles.scss */
footer .copyright .copyright-sign a.global-vision {
  font: 400 11px/22px "HelveticaNeueLTPro", sans-serif;
}
/* line 937, ../sass/main-styles.scss */
footer .copyright .copyright-sign a.artmisto {
  text-transform: uppercase;
}
